<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/startbootstrap-shop-homepage/css/styles.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/personalities/exam/css/custom-style.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/oauth2.css" crossorigin="anonymous">
  <script src="/js/jquery/jquery-3.6.0.min.js"></script>
  <!--<link href="/startbootstrap-shop-homepage/js/scripts.js" rel="script">-->

  <title>Diang.Lab</title>
</head>