<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="personalities/fragments/header.html :: header">
    <meta charset="utf-8">
</head>
<style>
    input[name="answer"] {
        margin: 5px 20px 5px 20px;
    }

    .questionDiv {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .slides {
        scroll-behavior: auto;
    }
</style>
<script th:inline="javascript">
    const questions = [[${questions}]];

    $(document).ready( () => {
        $('.examAnswerCard').click( () => {
            $(".slides").scrollLeft($(".slides").scrollLeft() + $("#question-1").outerWidth());
        });

        $('.examAnswerCardDiv input').change( () => {
            if(checkSelect()) {
                $('#examForm').submit();
            }
        });

    });

    function checkSelect() {
        console.log("checkSelect");
        let cnt = 0;
        let checkAll = true;
        for(question of questions) {
            if(!$(`input[name="${question.num}"]`).is(":checked")) {
                checkAll = false;
            } else cnt++;
        }
        $("progress").val(cnt);

        return checkAll;
    }

</script>
<body>
<div class="exam-container">
    <!-- contents -->
    <div style="">
        <!-- head -->
        <nav class="navbar bg-light" th:replace="personalities/fragments/examHeader :: examHeader">
            <div class="container-fluid">
                <span class="h4">ExamTest</span>
            </div>
        </nav>

        <!-- progress bar -->
        <div class="progress-div">
            <progress id="progress" value="0" min="0" th:max="${questionCount}" class="d-block"></progress>
        </div>

        <!-- body text -->
        <form action="/examSubmit" method="get" id="examForm">
            <input type="hidden" th:value="${testCode}" name="testCode"/>
            <div class="slider">
                <div class="slides">
                    <div th:each="question : ${questions}"  th:id="|question-${questionStat.index + 1}|">
                        <div class="questionDiv">
                            
                            <!-- 질문 -->
                            <div class="questionStr">
                                <p th:text="${question.question}"></p>
                            </div>
                            
                            <div class="py-2"></div>
                            
                            <!-- 응답 -->
                            <div class="examAnswerCardDiv" th:each="answer : ${question.answerList}"
                                 th:with="inputId = |${question.num}_${answer.answerId}|">
                                <input class="" type="radio" th:id="${inputId}"
                                       th:name="${question.num}" th:value="${answer.answerId}"/>
                                <label th:text="${answer.answer}" th:for="${inputId}" class="examAnswerCard"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>


    </div>
    <footer th:replace="personalities/fragments/footer.html :: footer"></footer>
</div>
</body>

</html>

