<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="personalities/fragments/header.html :: header">
    <meta charset="utf-8">
</head>
<style>
    input[name="answer"] {
        margin: 5px 20px 5px 20px;
    }

    .questionDiv {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .slides {
        scroll-behavior: auto;
    }
    
    .display-none {
        display: none;
    }
</style>
<script th:inline="javascript">
    const questions = [[${questions}]];
    let nowPage = 0;
    
    $(document).ready( () => {
        $('.form-check-input-exam').click( () => {
            checkSelect();
        });
        
        $('#btnNext').click( () => {
            nowPage++;
            $(".slides").scrollLeft($(".slides").scrollLeft() + $("#question-1").outerWidth());
            $("#btnNext").prop("disabled", true);
            location.href = "#examForm";
        });

    });
    
    function checkSelect() {
        console.log("checkSelect");
        let checkAll = true;
        let cnt = 0;
        for(const [i, questionPage] of questions.entries()) {
            // 전체 체크된 개수 및 전체 체크여부 확인
            let pageCnt = 0;
            for(question of questionPage) {
                if(!$(`input[name="${question.num}"]`).is(":checked")) {
                    checkAll = false;
                } else pageCnt++;
            }
            cnt += pageCnt;
            
            // 현 페이지 내의 모든 질문이 체크됐으면 다음버튼 활성화
            if(nowPage == i) {
                if(questions[i].length == pageCnt) {
                    $("#btnNext").prop("disabled", false);
                }
            }
        }
        
        // progressBar 증가
        $("progress").val(cnt);
        
        // 모두 체크됐으면 submit 활성화
        if(checkAll) {
            $("#btnNext").addClass("display-none");
            $('button[type="submit"]').removeClass("display-none");
        }
    }
</script>
<body>
<div class="exam-container">
    <!-- contents -->
    <div style="">
        <!-- head -->
        <nav class="navbar bg-light" th:replace="personalities/fragments/examHeader :: examHeader">
            <div class="container-fluid">
                <span class="h4">ExamTest</span>
            </div>
        </nav>
        
        <!-- progress bar -->
        <div class="progress-div">
            <progress id="progress" value="0" min="0" th:max="${questionCount}" class="d-block"></progress>
        </div>

        <!-- body text -->
        <form action="/examSubmit" method="get" id="examForm">
            <input type="hidden" th:value="${testCode}" name="testCode"/>
            <div class="slider">
                <div class="slides">
                    <div th:each="pageQuestion : ${questions}"  th:id="|question-${pageQuestionStat.index + 1}|">
                        <div class="questionDiv" th:each="question : ${pageQuestion}">
                            <div class="questionStr">
                                <p th:text="${question.question}"></p>
                            </div>
                            <div class="exam-radio-div">
                                <div class="d-inline-block">
                                    <p class="exam-radio-p margin-side-10">비동의</p>
                                </div>
                                <div class="d-inline-block">
                                    <div class="figure margin-side-10" th:each="answer : ${question.answerList}">
                                        <input class="form-check-input-exam" type="radio"
                                               th:name="${question.num}" th:value="${answer.point}"/>
                                    </div>
                                </div>
                                <div class="d-inline-block">
                                    <p class="exam-radio-p margin-side-10">동의</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- button line -->
            <div class="text-center py-3">
                <button type="submit" class="btn btn-primary exam-rounded-btn font-singleDay display-none" id="btnSubmit">결과확인</button>
                <button class="btn btn-primary exam-rounded-btn font-singleDay" id="btnNext" disabled>다음으로</button>
            </div>
        </form>


    </div>
    <footer th:replace="personalities/fragments/footer.html :: footer"></footer>
</div>
</body>

<script>

</script>
<!--
<script th:inline="javascript">
    function formSubmit() {
        var data = {
            userId : 1,
            testCode : "EXAM",
            answer : {}
        };
        var url = "examResult"

        for (let i = 1; i <= 9; i++) {
            var checkedVal = document.querySelector('input[name="answer' + i + '"]:checked');
            if(checkedVal != null) data.answer[i] = checkedVal.value;
            else data.answer[i] = 1;
        }

        console.log("ajax", url, data);
        const xhr = new XMLHttpRequest();
        xhr.open("POST", url);
        xhr.setRequestHeader("Content-type", "application/json; charset=UTF-8;");
        xhr.responseType = "json";
        xhr.onload = function(e) {
            console.log(this, e);
        };
        xhr.send(JSON.stringify(data));
    }
</script>-->
</html>

