<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/personalities/fragments/header.html :: header">
    <meta charset="utf-8">
</head>
<style>
    input[name="answer"] {
        margin: 5px 20px 5px 20px;
    }
</style>
<body>
<div class="container-md" style="text-align: center;">
    <!-- contents -->
    <div style="width: 500px; display: inline-block;">
        <!-- head -->
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">ExamTest</span>
            </div>
        </nav>

        <!-- body text -->
            <!--<input type="hidden" th:field="*{userId}" name="userId" value="USERID"/>
            <input type="hidden" th:field="*{testCode}" name="testCode" value="EXAM"/>-->
            <figure class="text-center py-3">
                <blockquote class="blockquote">
                    <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <div class="figure" >
                    <input type="radio" name="answer1" value="1"/>
                    <input type="radio" name="answer1" value="2"/>
                    <input type="radio" name="answer1" value="3"/>
                    <input type="radio" name="answer1" value="4"/>
                    <input type="radio" name="answer1" value="5"/>
                </div>
            </figure>
            <figure class="text-center py-3" >
                <blockquote class="blockquote">
                    <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <div class="figure">
                    <input type="radio" name="answer2" value="1"/>
                    <input type="radio" name="answer2" value="2"/>
                    <input type="radio" name="answer2" value="3"/>
                    <input type="radio" name="answer2" value="4"/>
                    <input type="radio" name="answer2" value="5"/>
                </div>
            </figure>

            <figure class="text-center py-3" >
                <blockquote class="blockquote">
                    <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <div class="figure">
                    <input type="radio" name="answer3" value="1"/>
                    <input type="radio" name="answer3" value="2"/>
                    <input type="radio" name="answer3" value="3"/>
                    <input type="radio" name="answer3" value="4"/>
                    <input type="radio" name="answer3" value="5"/>
                </div>
            </figure>

            <figure class="text-center py-3" >
                <blockquote class="blockquote">
                    <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <div class="figure">
                    <input type="radio" name="answer4" value="1"/>
                    <input type="radio" name="answer4" value="2"/>
                    <input type="radio" name="answer4" value="3"/>
                    <input type="radio" name="answer4" value="4"/>
                    <input type="radio" name="answer4" value="5"/>
                </div>
            </figure>

            <figure class="text-center py-3">
                <blockquote class="blockquote">
                    <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <div class="figure">
                    <input type="radio" name="answer5" value="1"/>
                    <input type="radio" name="answer5" value="2"/>
                    <input type="radio" name="answer5" value="3"/>
                    <input type="radio" name="answer5" value="4"/>
                    <input type="radio" name="answer5" value="5"/>
                </div>
            </figure>

            <figure class="text-center py-3">
                <blockquote class="blockquote">
                    <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <div class="figure">
                    <input type="radio" name="answer6" value="1"/>
                    <input type="radio" name="answer6" value="2"/>
                    <input type="radio" name="answer6" value="3"/>
                    <input type="radio" name="answer6" value="4"/>
                    <input type="radio" name="answer6" value="5"/>
                </div>
            </figure>

            <figure class="text-center py-3">
                <blockquote class="blockquote">
                    <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <div class="figure">
                    <input type="radio" name="answer7" value="1"/>
                    <input type="radio" name="answer7" value="2"/>
                    <input type="radio" name="answer7" value="3"/>
                    <input type="radio" name="answer7" value="4"/>
                    <input type="radio" name="answer7" value="5"/>
                </div>
            </figure>

            <figure class="text-center py-3">
                <blockquote class="blockquote">
                    <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <div class="figure">
                    <input type="radio" name="answer8" value="1"/>
                    <input type="radio" name="answer8" value="2"/>
                    <input type="radio" name="answer8" value="3"/>
                    <input type="radio" name="answer8" value="4"/>
                    <input type="radio" name="answer8" value="5"/>
                </div>
            </figure>

            <figure class="text-center py-3">
                <blockquote class="blockquote">
                    <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <div class="figure">
                    <input type="radio" name="answer9" value="1"/>
                    <input type="radio" name="answer9" value="2"/>
                    <input type="radio" name="answer9" value="3"/>
                    <input type="radio" name="answer9" value="4"/>
                    <input type="radio" name="answer9" value="5"/>
                </div>
            </figure>

        <!-- button line -->
        <div class="text-center py-3">
            <button type="submit" class="btn btn-primary" onclick="formSubmit()">Submit</button>
        </div>

    </div>
</div>
</body>
<footer th:replace="/personalities/fragments/footer.html :: footer"></footer>

<script th:inline="javascript">
    function formSubmit() {
        var data = {
            userId : 1,
            testCode : "EXAM",
            answer : {}
        };
        var url = "examResult"

        for (let i = 1; i <= 9; i++) {
            var checkedVal = document.querySelector('input[name="answer' + i + '"]:checked');
            if(checkedVal != null) data.answer[i] = checkedVal.value;
            else data.answer[i] = 1;
        }

        console.log("ajax", url, data);
        const xhr = new XMLHttpRequest();
        xhr.open("POST", url);
        xhr.setRequestHeader("Content-type", "application/json; charset=UTF-8;");
        xhr.responseType = "json";
        xhr.onload = function(e) {
            console.log(this, e);
        };
        xhr.send(JSON.stringify(data));
    }
</script>
</html>

