<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/personalities/fragments/header.html :: header">
    <meta charset="utf-8">
</head>
<body>
<div class="" style="text-align: center; width: 500px;">
    <!-- contents -->
    <div style="display: inline-block; height: 100%;">
        <!-- head -->
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">ExamTest</span>
            </div>
        </nav>

        <!-- body text -->
        <figure class="text-center py-3">
            <blockquote class="blockquote">
                <p>These Sass loops aren’t limited to color maps, either. You can also generate responsive variations of your components.
                    Take for example our responsive alignment of the dropdowns where we mix an @each loop for the $grid-breakpoints
                    Sass map with a media query include.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Someone famous in <cite title="Source Title">Source Title</cite>
            </figcaption>
        </figure>

        <!-- button line -->
        <div class="text-center py-3">
            <button class="btn btn-primary" onclick="location.href='examTest?param=test'">Start</button>
        </div>
    </div>
    <footer th:replace="/personalities/fragments/footer.html :: footer"></footer>
</div>
</body>
</html>