<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="personalities/fragments/header.html :: header">
    <meta charset="utf-8">
</head>
<body>
<div class="exam-container" style="text-align: center; width: 500px;">
    <!-- contents -->
    <div style="display: inline-block; height: 90%;">
        <!-- head -->
        <nav class="navbar bg-light" th:replace="personalities/fragments/examHeader :: examHeader">
            <div class="container-fluid">
                <span class="h4">ExamTest</span>
            </div>
        </nav>

        <!-- body text -->
        <figure class="text-center py-3 exam-contents">
            <blockquote class="blockquote">
                <img src="https://post-phinf.pstatic.net/MjAyMDExMDVfMjYz/MDAxNjA0NTY2NjIwNTY4.2Swhg8tD10gRVUUBqlz_GTxZNMul-tDoWP68mVYmksYg.jz0SwERh75iBwTodNzCPmWlSCEupNqnhOQ0vmeaXN6Ug.PNG/1.png?type=w1200" class="img-fluid py-3 form-floating" alt="...">
                <p>These Sass loops aren’t limited to color maps, either. You can also generate responsive variations of your components.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Someone famous in <cite title="Source Title">Source Title</cite>
            </figcaption>
        </figure>

        <!-- button line -->
        <div class="text-center py-3">
            <button class="btn btn-primary exam-rounded-btn" onclick="location.href='examTest'"><span>테스트 시작!</span></button>
            <button class="btn btn-primary exam-rounded-btn" onclick="location.href='examTestSlide'"><span>Slide 테스트</span></button>
        </div>
    </div>
    <footer th:replace="personalities/fragments/footer.html :: footer"></footer>
</div>
</body>
</html>