<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/personalities/fragments/header.html :: header">
    <meta charset="utf-8">
</head>
<style>
    input[name="answer"] {
        margin: 5px 20px 5px 20px;
    }
</style>
<body>
<div class="container-md" style="text-align: center;">
    <!-- contents -->
    <div style="width: 500px; display: inline-block;">
        <!-- head -->
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">ExamTest</span>
            </div>
        </nav>

        <!-- body text -->
        <!--<input type="hidden" th:field="*{userId}" name="userId" value="USERID"/>
        <input type="hidden" th:field="*{testCode}" name="testCode" value="EXAM"/>-->
        <form action="/examResult" method="post">
            <figure class="text-center py-3" th:each="question : ${questions}">
                <blockquote class="blockquote">
                    <p th:text="${question.question}"></p>
                </blockquote>
                <div class="figure" th:each="selPoint : ${question.selectPoint}">
                    <input type="radio" th:name="${question.questionNum}" th:value="${selPoint}"/>
                </div>
            </figure>

            <!-- button line -->
            <div class="text-center py-3">
                <button type="submit" class="btn btn-primary" onclick="formSubmit()">Submit</button>
            </div>
        </form>


    </div>
</div>
</body>
<footer th:replace="/personalities/fragments/footer.html :: footer"></footer>
<!--
<script th:inline="javascript">
    function formSubmit() {
        var data = {
            userId : 1,
            testCode : "EXAM",
            answer : {}
        };
        var url = "examResult"

        for (let i = 1; i <= 9; i++) {
            var checkedVal = document.querySelector('input[name="answer' + i + '"]:checked');
            if(checkedVal != null) data.answer[i] = checkedVal.value;
            else data.answer[i] = 1;
        }

        console.log("ajax", url, data);
        const xhr = new XMLHttpRequest();
        xhr.open("POST", url);
        xhr.setRequestHeader("Content-type", "application/json; charset=UTF-8;");
        xhr.responseType = "json";
        xhr.onload = function(e) {
            console.log(this, e);
        };
        xhr.send(JSON.stringify(data));
    }
</script>-->
</html>

