<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="personalities/fragments/header.html :: header">
    <meta charset="utf-8">
</head>
<body>
<div class="exam-container">
    <!-- head -->
    <nav class="navbar bg-light" th:replace="personalities/fragments/examHeader :: examHeader">
        <div class="container-fluid">
            <span class="h4">ExamTest</span>
        </div>
    </nav>

    <!-- contents -->
    <div style="display: inline-block; height: 90%;">
        <!-- profile -->
        <div class="profile-div">
            <div class="profile-image" th:style="|background-image: url(${session.user.picture})|">

            </div>
            <div class="profile-desc">
                <div class="nickname-div">
                    <span id="nickname" th:text="${session.user.nickname}"></span>
                </div>
                <div class="type-div">
                    <span class="type-label" th:each="typeInfo : ${userTypeMap}" th:text="${typeInfo.value.typeName}"></span>
                </div>
            </div>
        </div>

        <!-- content -->
        <div class="" style="width: 100%; height: 300px;">

        </div>

    </div>
    <footer th:replace="personalities/fragments/footer.html :: footer"></footer>
</div>
</body>
</html>