<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
    <meta charset="utf-8">
</head>
<body>
<div class="exam-container">
    <!-- head -->
    <nav class="navbar bg-light" th:replace="fragments/examHeader :: examHeader">
        <div class="container-fluid">
            <span class="h4">ExamTest</span>
        </div>
    </nav>

    <!-- contents -->
    <div style="display: inline-block; height: 90%;">
        <!-- profile -->
        <div class="profile-div">
            <div class="profile-image" th:style="|background-image: url(${session.user.picture})|">

            </div>
            <div class="profile-desc">
                <div class="nickname-div">
                    <span id="nickname" th:text="${session.user.nickname}"></span>
                    <span class="material-icons"data-bs-toggle="modal" data-bs-target="#NicknameEditModal">edit</span>
                </div>
                <div class="email-div">
                    <span id="email" th:text="${session.user.email}"></span>
                </div>
                <div class="type-div d-none">
                    <span class="type-label" th:each="typeInfo : ${userTypeMap}" th:text="${typeInfo.value.typeName}"></span>
                </div>
            </div>
        </div>

    </div>

    <!-- content -->
    <div class="vstack" style="width: 100%; height: 300px;">

    </div>

    <div class="modal fade" id="NicknameEditModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="text-center nick-title">
                    <label>닉네임 변경</label>
                </div>

                <div class="text-center py-3">
                    <form action="/myPage/editNickname" method="post" class="nickname-editForm">
                        <input type="hidden" name="id" th:value="${session.user.id}">
                        <input type="text" name="nickname" class="form-control" th:value="${session.user.nickname}" maxlength="10">
                        <button class="btn btn-primary">변경</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</div>
</body>
</html>