<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="personalities/fragments/header.html :: header">
    <meta charset="utf-8">
</head>
<body>
<div class="ta-container">
    <!--<div class="ta-title">
        <span class="">테스트 생성</span>
    </div>-->
    <div class="px-3 py-3 vstack testInfo-contents">
        <!-- 상단 tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a id="step1" class="nav-link active" aria-current="page" href="#">STEP1</a>
            </li>
            <li class="nav-item">
                <a id="step2" class="nav-link" href="#">STEP2</a>
            </li>
            <li class="nav-item">
                <a id="step3" class="nav-link" href="#">STEP3</a>
            </li>
            <li class="nav-item">
                <a id="step4" class="nav-link">STEP4</a>
            </li>
        </ul>

        <!-- tab contents div-->
        <div id="step1Content" class="tab-contents active">
            <form method="get" action="/testAdmin/step1Submit" class="tab-contentsForm">
                <div class="select-div">
                    <div>
                        <label class="name-label">테스트 선택</label>
                    </div>
                    <select class="type-select form-select" onchange="location.href='/testAdminPage/' + this.value">
                        <option value="NEW">새로 만들기</option>
                        <option th:each="testInfo : ${testList}"
                                th:text="${testInfo.testName}" th:value="${testInfo.testCode}"
                                th:selected="${testCode} == ${testInfo.testCode}"></option>
                    </select>
                </div>
                <div class="testCode-div">
                    <div>
                        <label class="name-label">테스트 코드 입력</label>
                    </div>
                    <div class="testCode-text-div">
                        <input type="text" class="form-control" th:field="*{testInfoDto.testCode}" placeholder="테스트코드">
                        <div class="px-1"></div>
                        <input type="text" class="form-control" th:field="*{testInfoDto.testName}" placeholder="테스트이름">
                    </div>
                </div>
                <div class="answerType-div">
                    <div>
                        <label class="name-label">테스트 방식 선택</label>
                    </div>
                    <div class="answerType-content">
                        <div th:each="answerType : ${answerTypeList}">
                            <div>
                                <input type="radio" th:field="*{testInfoDto.answerType}" th:value="${answerType}">
                                <label th:text="${answerType.getKrType()}" th:for="${#ids.prev('answerType')}"></label>
                            </div>
                            <div>
                                <img class="answerType-img" th:src="${answerType.getImage()}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="introImgUp-div">
                    <label class="name-label">테스트 메인 이미지</label>
                    <div>
                        <input type="text" class="form-control" th:field="*{testInfoDto.image}">
                    </div>
                </div>
                <div class="introDesc-div">
                    <label class="name-label">테스트 설명</label>
                    <div>
                        <textarea class="form-control" th:field="*{testInfoDto.description}"></textarea>
                    </div>
                </div>
                <div class="tabSubmit-div">
                    <button class="btn btn-primary" type="submit">저장</button>
                </div>
            </form>
        </div>

        <div id="step2Content" class="tab-contents">
            <form method="get" action="/testAdmin/step2Submit" class="tab-contentsForm" th:object="${indicatorForm}" id="tab2Form">
                <input type="hidden" th:field="*{testCode}">
                <div class="indicator-div" th:each="indicator : *{indicatorList}" th:id="|indicatorDiv${indicatorStat.index + 1}|">
                    <div class="indicator-title">
                        <p><span class="material-icons">edit</span>유형 지표 정보</p>
                        <span class="material-icons indicatorDelete" th:id="|indiDel${indicatorStat.index + 1}|">close</span>
                    </div>
                    <input type="hidden" th:field="*{indicatorList[__${indicatorStat.index}__].id}">
                    <div class="indicatorInfo-div">
                        <div class="indicatorElement-div">
                            <label>지표 번호</label>
                            <input type="text" class="form-control" th:field="*{indicatorList[__${indicatorStat.index}__].indicatorNum}"
                                   th:value="${indicator.indicatorNum}">
                        </div>
                        <div class="indicatorElement-div">
                            <label>지표 이름</label>
                            <input type="text" class="form-control" th:field="*{indicatorList[__${indicatorStat.index}__].indicatorName}"
                                   th:value="${indicator.indicatorName}">
                        </div>
                    </div>
                    <div class="setting-div">
                        <div th:each="indicatorSetting, stat : *{indicatorList[__${indicatorStat.index}__].indicatorSettings}"
                             class="settingInfo-div" th:id="|settingDiv-${indicatorStat.index + 1}-${stat.index}|">
                            <input type="hidden" th:field="*{indicatorList[__${indicatorStat.index}__].indicatorSettings[__${stat.index}__].id}">
                            <div class="settingElement-div">
                                <label>지표 코드</label>
                                <input type="text" class="form-control code-input"
                                       th:field="*{indicatorList[__${indicatorStat.index}__].indicatorSettings[__${stat.index}__].result}"
                                       th:value="${indicatorSetting.result}">
                            </div>
                            <div class="settingElement-div">
                                <label>지표 결정 점수</label>
                                <input type="text" class="form-control"
                                       th:field="*{indicatorList[__${indicatorStat.index}__].indicatorSettings[__${stat.index}__].cuttingPoint}"
                                       th:value="${indicatorSetting.cuttingPoint}">
                            </div>
                            <span class="material-icons delSetting" th:id="|delSetting-${indicatorStat.index + 1}-${stat.index}|"
                                  style="display: none;">
                                delete
                            </span>
                        </div>
                        <div class="settingAdd-div" th:id="|settingAdd-div-${indicatorStat.index + 1}|">
                            <span class="settingAdd" th:id="|settingAdd-${indicatorStat.index + 1}|">+ 지표 정보 추가</span>
                        </div>
                    </div>
                </div>
                <div class="addIndicator-div" id="addIndicator">
                    <div class="add-icon">
                        <p class="plus1"></p>
                        <p class="plus2"></p>
                    </div>
                </div>
                <div class="tabSubmit-div">
                    <button class="btn btn-primary" type="submit">저장</button>
                </div>
            </form>
        </div>

        <div id="step3Content" class="tab-contents">

        </div>

        <div id="step4Content" class="tab-contents">

        </div>
    </div>
    <footer th:replace="personalities/fragments/footer.html :: footer"></footer>
    <script th:inline="javascript">
    console.log("we");
    const indicatorList = [[${indicatorForm.indicatorList}]];
    let indicatorCnt = [];
    let selectIndicator = 0;

    $(document).ready( () => {
        $(".nav-link").click( (e) => {
            $('[id^="step"]').removeClass("active");
            $(`[id^="${e.target.id}"]`).addClass("active");
        });

        $("#addIndicator").click( () => {
                let indicatorDiv =
                `
                    <div class="indicator-div" id="indicatorDiv${indicatorList.length + 1}">
                        <div class="indicator-title">
                            <p><span class="material-icons">edit</span>유형 지표 정보</p>
                            <span class="material-icons indicatorDelete" id="indiDelTmp${indicatorList.length + 1}">close</span>
                        </div>
                        <div class="indicatorInfo-div">
                            <div class="indicatorElement-div">
                                <label>지표 번호</label>
                                <input type="text" class="form-control" name="indicatorList[${indicatorList.length}].indicatorNum">
                            </div>
                            <div>
                                <label>지표 이름</label>
                                <input type="text" class="form-control" name="indicatorList[${indicatorList.length}].indicatorName">
                            </div>
                        </div>
                        <div class="setting-div">
                            <div class="settingAdd-div" id="settingAdd-div-${indicatorList.length + 1}">
                                <span class="settingAdd" id="settingAdd-${indicatorList.length + 1}">+ 지표 정보 추가</span>
                            </div>
                        </div>
                    </div>
                `;
            $("#addIndicator").before(indicatorDiv);
            indicatorList.push({indicatorSettings:[]});

            // 추가한 요소들에 클릭이벤트 추가
            $("#indiDelTmp" + (indicatorList.length)).click( (e) => {
                indicatorDeleteEvent(e);
            });

            $("#settingAdd-" + (indicatorList.length)).click( (e) => {
                settingAddEvent(e);
            });
        });

        $(".settingAdd").click( (e) => {
            settingAddEvent(e);
        });

        $(".indicatorDelete").click( (e) => {
            indicatorDeleteEvent(e);
        });

        $(".delSetting").click( (e) => {
            settingDeleteEvent(e);
        });

        $(".settingInfo-div").hover( (e) => {
            settingInfoHoverInEvent(e);
        }, (e) => {
            settingInfoHoverOutEvent(e);
        });

        function indicatorDeleteEvent(e) {
            let targetNum = e.target.id.replace("indiDelTmp", "");
            $("#indicatorDiv" + targetNum).hide();
            $("#indicatorDiv" + targetNum + " input").val("");
        };

        function settingDeleteEvent(e) {
            let targetNum = e.target.id.replace("delSetting", "");
            $("#settingDiv" + targetNum).hide();
            $("#settingDiv" + targetNum + " input").val("");
        };

        function settingInfoHoverInEvent(e) {
            let targetId = e.currentTarget.id.replace("settingDiv", "");
            $("#delSetting" + targetId).show();
        }

        function settingInfoHoverOutEvent(e) {
            let targetId = e.currentTarget.id.replace("settingDiv", "");
            $("#delSetting" + targetId).hide();
        }

        function settingAddEvent(e) {
            let targetNum = e.target.id.replace("settingAdd-", "");
            let settingDiv =
            `
                <div class="settingInfo-div"
                    id="settingDiv-${targetNum}-${indicatorList[targetNum-1].indicatorSettings.length}">
                    <div class="settingElement-div">
                        <label>지표 코드</label>
                        <input type="text" class="form-control code-input"
                            name="indicatorList[${targetNum - 1}].indicatorSettings[${indicatorList[targetNum-1].indicatorSettings.length}].result">
                    </div>
                    <div class="settingElement-div">
                        <label>지표 결정 점수</label>
                        <input type="text" class="form-control"
                            name="indicatorList[${targetNum - 1}].indicatorSettings[${indicatorList[targetNum-1].indicatorSettings.length}].cuttingPoint">
                    </div>
                    <span class="material-icons delSetting" id="delSetting-${targetNum}-${indicatorList[targetNum-1].indicatorSettings.length}"
                            style="display: none;">
                        delete
                    </span>
                </div>
            `;

            $("#settingAdd-div-" + targetNum).before(settingDiv);
            indicatorList[targetNum - 1].indicatorSettings.push({});

            $(`#delSetting-${targetNum}-${indicatorList[targetNum-1].indicatorSettings.length - 1}`).click( (e) => {
                settingDeleteEvent(e);
            });

            $(`#settingDiv-${targetNum}-${indicatorList[targetNum-1].indicatorSettings.length - 1}`).hover( (e) => {
                settingInfoHoverInEvent(e);
            }, (e) => {
                settingInfoHoverOutEvent(e);
            });
        }

    });
</script>
</div>
</body>
</html>


