<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
    <meta charset="utf-8">
</head>
<body>
<div class="back-div">
    <div class="loading-div">
        <img src="/assets/images/loading2.gif">
    </div>
</div>
<div class="ta-container">
    <!--<div class="ta-title">
        <span class="">테스트 생성</span>
    </div>-->
    <div class="px-3 py-3 vstack testInfo-contents">
        <!-- 타이틀 -->
        <div class="testAdminTitle">
            <label>테스트 정보 관리</label>
        </div>
        <!-- 상단 tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a id="step1" class="nav-link" aria-current="page" th:classappend="${tab} == 1 ? active">STEP1</a>
            </li>
            <li class="nav-item">
                <a id="step2" class="nav-link" th:classappend="${tab} == 2 ? active">STEP2</a>
            </li>
            <li class="nav-item">
                <a id="step3" class="nav-link" th:classappend="${tab} == 3 ? active">STEP3</a>
            </li>
            <li class="nav-item">
                <a id="step4" class="nav-link" th:classappend="${tab} == 4 ? active">STEP4</a>
            </li>
        </ul>

        <!-- tab1 contents div-->
        <div id="step1Content" class="tab-contents" th:classappend="${tab} == 1 ? active">
            <form method="post" action="/adminPage/testAdmin/step1Submit" class="tab-contentsForm">
                <div class="select-div">
                    <div>
                        <label class="name-label">테스트 선택</label>
                    </div>
                    <select class="type-select form-select" onchange="location.href='/adminPage/testAdminPage/' + this.value">
                        <option value="NEW">새로 만들기</option>
                        <option th:each="testInfo : ${testList}"
                                th:text="${testInfo.testName}" th:value="${testInfo.testCode}"
                                th:selected="${testCode} == ${testInfo.testCode}"></option>
                    </select>
                </div>
                <div class="testCode-div">
                    <div>
                        <label class="name-label">테스트 코드 입력</label>
                    </div>
                    <div class="testCode-text-div">
                        <input type="text" class="form-control" th:field="*{testInfoDto.testCode}" placeholder="테스트코드">
                        <div class="px-1"></div>
                        <input type="text" class="form-control" th:field="*{testInfoDto.testName}" placeholder="테스트이름">
                    </div>
                </div>
                <div class="answerType-div">
                    <div>
                        <label class="name-label">테스트 방식 선택</label>
                    </div>
                    <div class="answerType-content">
                        <div th:each="answerType : ${answerTypeList}" class="answerType-div">
                            <div class="answerType-title-div">
                                <input type="radio" class="form-check-input" th:field="*{testInfoDto.answerType}" th:value="${answerType}">
                                <label class="form-check-label" th:text="${answerType.getKrType()}" th:for="${#ids.prev('answerType')}"></label>
                            </div>
                            <div class="answerType-img-div">
                                <img class="answerType-img" th:src="${answerType.getImage()}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="introImgUp-div">
                    <label class="name-label">테스트 메인 이미지</label>
                    <div>
                        <input type="text" class="form-control" th:field="*{testInfoDto.image}">
                    </div>
                </div>
                <div class="introDesc-div">
                    <label class="name-label">테스트 설명</label>
                    <div>
                        <textarea class="form-control" th:field="*{testInfoDto.description}"></textarea>
                    </div>
                </div>
                <div class="thumb-desc-div">
                    <label class="name-label">테스트 썸네일 설명</label>
                    <div>
                        <input type="text" class="form-control" th:field="*{testInfoDto.thumbnailDesc}">
                    </div>
                </div>
                <div>
                    <label class="name-label">테스트 활성화</label>
                    <div class="d-flex">
                        <div class="answerType-title-div">
                            <input type="radio" class="form-check-input" th:field="*{testInfoDto.active}" value="1" onclick="enableActive()">
                            <label class="form-check-label" th:for="${#ids.prev('active')}">활성화</label>
                        </div>
                        <div class="answerType-title-div px-2">
                            <input type="radio" class="form-check-input" th:field="*{testInfoDto.active}" value="0">
                            <label class="form-check-label" th:for="${#ids.prev('active')}">비활성화</label>
                        </div>
                    </div>
                </div>
                <div class="tabSubmit-div">
                    <button class="btn btn-primary" type="submit">저장</button>
                </div>
            </form>
        </div>

        <!-- tab2 contents div-->
        <div id="step2Content" class="tab-contents" th:classappend="${tab} == 2 ? active">
            <form method="post" action="/adminPage/testAdmin/step2Submit" class="tab-contentsForm" th:object="${indicatorForm}" id="tab2Form">
                <input type="hidden" th:field="*{indicatorTestCode}">
                <div class="indicator-div" th:each="indicator : *{indicatorList}" th:id="|indicatorDiv${indicatorStat.index + 1}|">
                    <div class="indicator-title">
                        <p><span class="material-icons">edit</span>유형 지표 정보</p>
                        <span class="material-icons indicatorDelete" th:id="|indiDel${indicatorStat.index + 1}|">close</span>
                    </div>
                    <input type="hidden" th:field="*{indicatorList[__${indicatorStat.index}__].id}">
                    <input type="hidden" th:field="*{indicatorList[__${indicatorStat.index}__].updated}">
                    <input type="hidden" th:field="*{indicatorList[__${indicatorStat.index}__].deleted}">
                    <div class="indicatorInfo-div">
                        <div class="indicatorElement-div">
                            <label>지표 번호</label>
                            <input type="text" class="form-control" th:field="*{indicatorList[__${indicatorStat.index}__].indicatorNum}"
                                   th:value="${indicator.indicatorNum}" readonly>
                        </div>
                        <div class="indicatorElement-div">
                            <label>지표 이름</label>
                            <input type="text" class="form-control" th:field="*{indicatorList[__${indicatorStat.index}__].indicatorName}"
                                   th:value="${indicator.indicatorName}">
                        </div>
                    </div>
                    <div class="setting-div">
                        <div th:each="indicatorSetting, stat : *{indicatorList[__${indicatorStat.index}__].indicatorSettings}"
                             class="settingInfo-div" th:id="|settingDiv-${indicatorStat.index + 1}-${stat.index}|">
                            <input type="hidden" th:field="*{indicatorList[__${indicatorStat.index}__].indicatorSettings[__${stat.index}__].id}">
                            <input type="hidden" th:field="*{indicatorList[__${indicatorStat.index}__].indicatorSettings[__${stat.index}__].updated}">
                            <input type="hidden" th:field="*{indicatorList[__${indicatorStat.index}__].indicatorSettings[__${stat.index}__].deleted}">
                            <div class="settingElement-div">
                                <label>지표 코드</label>
                                <input type="text" class="form-control code-input"
                                       th:field="*{indicatorList[__${indicatorStat.index}__].indicatorSettings[__${stat.index}__].result}"
                                       th:value="${indicatorSetting.result}">
                            </div>
                            <div class="settingElement-div">
                                <label>지표 결정 점수</label>
                                <input type="text" class="form-control"
                                       th:field="*{indicatorList[__${indicatorStat.index}__].indicatorSettings[__${stat.index}__].cuttingPoint}"
                                       th:value="${indicatorSetting.cuttingPoint}">
                            </div>
                            <span class="material-icons delSetting" th:id="|delSetting-${indicatorStat.index + 1}-${stat.index}|"
                                  style="display: none;">
                                delete
                            </span>
                        </div>
                        <div class="settingAdd-div" th:id="|settingAdd-div-${indicatorStat.index + 1}|">
                            <span class="settingAdd" th:id="|settingAdd-${indicatorStat.index + 1}|">+ 지표 정보 추가</span>
                        </div>
                    </div>
                </div>
                <div class="addIndicator-div" id="addIndicator">
                    <div class="add-icon">
                        <span class="material-icons plus-icon">add</span>
                    </div>
                </div>
                <div class="tabSubmit-div">
                    <button class="btn btn-primary" type="submit">저장</button>
                </div>
            </form>
        </div>

        <!-- tab3 contents div-->
        <div id="step3Content" class="tab-contents" th:classappend="${tab} == 3 ? active">
            <form method="post" action="/adminPage/testAdmin/step3Submit" class="tab-contentsForm" th:object="${questionForm}" id="tab3Form">
                <input type="hidden" th:field="*{questionTestCode}">
                <div class="question-main-title">
                    <p><span class="material-icons">edit</span>질문&답변 정보</p>
                </div>
                <div class="question-div" th:each="questionInfo : *{questionList}" th:id="|questionDiv${questionInfoStat.index + 1}|">
                    <input type="hidden" th:field="*{questionList[__${questionInfoStat.index}__].id}">
                    <input type="hidden" th:field="*{questionList[__${questionInfoStat.index}__].updated}"/>
                    <input type="hidden" th:field="*{questionList[__${questionInfoStat.index}__].deleted}"/>
                    <div class="question-title">
                        <div class="questionHeadInfo-div">
                            <button class="fold-btn collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false"
                                    th:data-bs-target="|#questionContentDiv${questionInfoStat.index + 1}|"
                                    th:aria-controls="|questionContentDiv${questionInfoStat.index + 1}|">
                                <span class="material-icons">
                                expand_more
                                </span>
                            </button>
                            <input type="text" class="q-num-input" placeholder="번호"
                                   th:field="*{questionList[__${questionInfoStat.index}__].num}">
                            <div class="px-1"></div>
                            <input type="text" class="q-name-input" placeholder="질문내용"
                                   th:field="*{questionList[__${questionInfoStat.index}__].question}">
                        </div>
                        <span class="material-icons questionDelete" th:id="|questionDel${questionInfoStat.index + 1}|" th:name="${questionInfoStat.index}">close</span>
                    </div>
                    <div class="questionContent-div collapse" th:id="|questionContentDiv${questionInfoStat.index + 1}|">
                        <div class="questionInfo-div">
                            <div class="indicatorElement-div">
                                <label>질문 이미지</label>
                                <input type="text" class="form-control" th:field="*{questionList[__${questionInfoStat.index}__].questionImage}">
                            </div>
                        </div>
                        <div class="answer-div">
                            <div class="answerTitle-div">
                                <label>답변 정보</label>
                            </div>
                            <div th:each="answer, stat : *{questionList[__${questionInfoStat.index}__].answerList}"
                                 class="answerInfo-div" th:id="|answerDiv-${questionInfoStat.index + 1}-${stat.index}|">
                                <span class="material-icons answerDelete" style="display: none;"
                                      th:id="|delAnswer-${questionInfoStat.index + 1}-${stat.index}|">close</span>
                                <input type="hidden" th:field="*{questionList[__${questionInfoStat.index}__].answerList[__${stat.index}__].id}">
                                <input type="hidden" th:field="*{questionList[__${questionInfoStat.index}__].answerList[__${stat.index}__].updated}">
                                <input type="hidden" th:field="*{questionList[__${questionInfoStat.index}__].answerList[__${stat.index}__].deleted}">
                                <div class="answerElement-div answerContent-div">
                                    <label>답변 이미지</label>
                                    <input type="text" class="form-control code-input"
                                           th:field="*{questionList[__${questionInfoStat.index}__].answerList[__${stat.index}__].answerImage}">
                                </div>
                                <div class="answerElement-div answerContent-div">
                                    <label>답변 내용</label>
                                    <input type="text" class="form-control"
                                           th:field="*{questionList[__${questionInfoStat.index}__].answerList[__${stat.index}__].answer}">
                                </div>
                                <div class="answerElement-div answerElementDetail-div">
                                    <div class="answerDetail-div">
                                        <label>답변 점수</label>
                                        <input type="text" class="form-control"
                                               th:field="*{questionList[__${questionInfoStat.index}__].answerList[__${stat.index}__].point}">
                                    </div>
                                    <div class="answerDetail-div">
                                        <label>답변 지표</label>
                                        <select class="answer-select form-select" th:field="*{questionList[__${questionInfoStat.index}__].answerList[__${stat.index}__].typeIndicatorId}">
                                            <option th:each="indicator : ${indicatorForm.indicatorList}"
                                                    th:text="${indicator.indicatorName}" th:value="${indicator.id}"></option>
                                        </select>
                                    </div>
                                    <div class="answerDetail-div">
                                        <label>답변 성향</label>
                                        <select class="answer-select form-select" th:field="*{questionList[__${questionInfoStat.index}__].answerList[__${stat.index}__].tendency}">
                                            <option th:each="tendency : ${tendencyList}"
                                                    th:text="${tendency.getFullName()}" th:value="${tendency}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="answerAdd-div" th:id="|answerAdd-div-${questionInfoStat.index + 1}|">
                                <span class="answerAdd" th:id="|answerAdd-${questionInfoStat.index + 1}|">+ 답변 정보 추가</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="addIndicator-div" id="addQuestion">
                    <div class="add-icon">
                        <span class="material-icons plus-icon">add</span>
                    </div>
                </div>
                <div class="tabSubmit-div">
                    <button class="btn btn-primary" type="submit">저장</button>
                </div>
            </form>
        </div>

        <div id="step4Content" class="tab-contents" th:classappend="${tab} == 4 ? active">
            <form method="post" action="/adminPage/testAdmin/step4Submit" class="tab-contentsForm" th:object="${typeInfoForm}" id="tab4Form">
                <input type="hidden" th:field="*{typeInfoTestCode}">
                <div class="typeInfo-main-title">
                    <p><span class="material-icons">edit</span>유형 정보</p>
                </div>
                <div class="typeInfo-div" th:each="typeInfo : *{typeInfoList}" th:id="|typeInfoDiv${typeInfoStat.index + 1}|">
                    <input type="hidden" th:field="*{typeInfoList[__${typeInfoStat.index}__].id}">
                    <input type="hidden" th:field="*{typeInfoList[__${typeInfoStat.index}__].updated}">
                    <input type="hidden" th:field="*{typeInfoList[__${typeInfoStat.index}__].deleted}">
                    <div class="typeInfo-title">
                        <div class="typeInfoHeadInfo-div">
                            <button class="fold-btn collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false"
                                    th:data-bs-target="|#typeInfoContentDiv${typeInfoStat.index + 1}|"
                                    th:aria-controls="|typeInfoContentDiv${typeInfoStat.index + 1}|">
                                <span class="material-icons">
                                expand_more
                                </span>
                            </button>
                            <input type="text" class="typeCode-input" placeholder="번호"
                                   th:field="*{typeInfoList[__${typeInfoStat.index}__].typeCode}">
                            <div class="px-1"></div>
                            <input type="text" class="typeName-input" placeholder="유형명"
                                   th:field="*{typeInfoList[__${typeInfoStat.index}__].typeName}">
                        </div>
                        <span class="material-icons typeInfoDelete" th:id="|typeInfoDel${typeInfoStat.index + 1}|">close</span>
                    </div>
                    <div class="typeInfoContent-div collapse" th:id="|typeInfoContentDiv${typeInfoStat.index + 1}|">
                        <div class="typeImage-div">
                            <div class="typeImageTitle-div">
                                <label>결과 이미지</label>
                            </div>
                            <div th:each="typeImage, stat : *{typeInfoList[__${typeInfoStat.index}__].typeImageList}"
                                 class="typeImageInfo-div" th:id="|typeImageDiv-${typeInfoStat.index + 1}-${stat.index}|">
                                <span class="material-icons typeImageDelete" style="display: none;"
                                      th:id="|delTypeImage-${typeInfoStat.index + 1}-${stat.index}|">close</span>
                                <input type="hidden" th:field="*{typeInfoList[__${typeInfoStat.index}__].typeImageList[__${stat.index}__].id}">
                                <input type="hidden" th:field="*{typeInfoList[__${typeInfoStat.index}__].typeImageList[__${stat.index}__].updated}">
                                <input type="hidden" th:field="*{typeInfoList[__${typeInfoStat.index}__].typeImageList[__${stat.index}__].deleted}">
                                <div class="typeImageDetail-div">
                                    <div class="typeImageNum-div typeImageContent-div">
                                        <label>이미지 번호</label>
                                        <input type="text" class="form-control code-input"
                                               th:field="*{typeInfoList[__${typeInfoStat.index}__].typeImageList[__${stat.index}__].imgNum}">
                                    </div>
                                    <div class="typeImageUrl-div typeImageContent-div">
                                        <label>이미지 URL</label>
                                        <input type="text" class="form-control"
                                               th:field="*{typeInfoList[__${typeInfoStat.index}__].typeImageList[__${stat.index}__].imageUrl}">
                                    </div>
                                </div>
                                <div class="typeImagePicture-div">
                                    <label>이미지</label>
                                    <div class="">
                                        <img th:src="${typeImage.imageUrl}">
                                    </div>
                                </div>
                            </div>
                            <div class="typeImageAdd-div" th:id="|typeImageAdd-div-${typeInfoStat.index + 1}|">
                                <span class="typeImageAdd" th:id="|typeImageAdd-${typeInfoStat.index + 1}|">+ 이미지 추가</span>
                            </div>
                        </div>

                        <div class="typeDescription-div">
                            <div class="typeDescriptionTitle-div">
                                <label>유형 설명</label>
                            </div>
                            <div th:each="typeDescription, stat : *{typeInfoList[__${typeInfoStat.index}__].typeDescriptionList}"
                                 class="typeDescriptionInfo-div" th:id="|typeDescriptionDiv-${typeInfoStat.index + 1}-${stat.index}|">
                                <span class="material-icons typeDescriptionDelete" style="display: none;"
                                      th:id="|delTypeDescription-${typeInfoStat.index + 1}-${stat.index}|">close</span>
                                <input type="hidden" th:field="*{typeInfoList[__${typeInfoStat.index}__].typeDescriptionList[__${stat.index}__].id}">
                                <input type="hidden" th:field="*{typeInfoList[__${typeInfoStat.index}__].typeDescriptionList[__${stat.index}__].updated}">
                                <input type="hidden" th:field="*{typeInfoList[__${typeInfoStat.index}__].typeDescriptionList[__${stat.index}__].deleted}">
                                <div class="typeDescriptionElement-div typeDescriptionContent-div">
                                    <label>설명 번호</label>
                                    <input type="text" class="form-control code-input"
                                           th:field="*{typeInfoList[__${typeInfoStat.index}__].typeDescriptionList[__${stat.index}__].descNum}">
                                </div>
                                <div class="typeDescriptionElement-div typeDescriptionContent-div">
                                    <label>설명</label>
                                    <textarea type="text" class="form-control"
                                           th:field="*{typeInfoList[__${typeInfoStat.index}__].typeDescriptionList[__${stat.index}__].description}">
                                    </textarea>
                                </div>
                            </div>
                            <div class="typeDescriptionAdd-div" th:id="|typeDescriptionAdd-div-${typeInfoStat.index + 1}|">
                                <span class="typeDescriptionAdd" th:id="|typeDescriptionAdd-${typeInfoStat.index + 1}|">+ 설명 추가</span>
                            </div>
                        </div>

                        <div class="typeRelation-div">
                            <div class="typeRelationTitle-div">
                                <label>유형 관계 정보</label>
                            </div>
                            <div class="typeRelationInfo-div" th:id="|typeRelationDiv-${typeInfoStat.index + 1}|">
                                <span class="material-icons typeRelationDelete" style="display: none;"
                                      th:id="|delTypeRelation-${typeInfoStat.index + 1}|">close</span>
                                <input type="hidden" th:field="*{typeInfoList[__${typeInfoStat.index}__].typeRelation.id}">
                                <input type="hidden" th:field="*{typeInfoList[__${typeInfoStat.index}__].typeRelation.updated}">
                                <input type="hidden" th:field="*{typeInfoList[__${typeInfoStat.index}__].typeRelation.typeInfoId}">
                                <div class="typeRelationElement-div typeRelationContent-div">
                                    <label>Best 유형</label>
                                    <select class="typeRelation-select form-select" th:field="*{typeInfoList[__${typeInfoStat.index}__].typeRelation.bestTypeId}">
                                        <option value="">미지정</option>
                                        <option th:each="typeInfoSel : ${typeInfoForm.typeInfoList}"
                                                th:text="|${typeInfoSel.typeCode}(${typeInfoSel.typeName})|"
                                                th:value="${typeInfoSel.id}"></option>
                                    </select>
                                </div>
                                <div class="typeRelationElement-div typeRelationContent-div">
                                    <label>Worst 유형</label>
                                    <select class="typeRelation-select form-select" th:field="*{typeInfoList[__${typeInfoStat.index}__].typeRelation.worstTypeId}">
                                        <option value="">미지정</option>
                                        <option th:each="typeInfoSel : ${typeInfoForm.typeInfoList}"
                                                th:text="|${typeInfoSel.typeCode}(${typeInfoSel.typeName})|"
                                                th:value="${typeInfoSel.id}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="addIndicator-div" id="addTypeInfo">
                    <div class="add-icon">
                        <span class="material-icons plus-icon">add</span>
                    </div>
                </div>
                <div class="tabSubmit-div">
                    <button class="btn btn-primary" type="submit">저장</button>
                    <a class="btn btn-info" th:testCode="${testCode}"
                        th:onclick="callEssential(this.getAttribute('testCode'))">필수 유형 세팅</a>
                </div>
            </form>
        </div>
    </div>
    <footer th:replace="fragments/footer.html :: footer"></footer>

    <!-- script -->
    <script th:inline="javascript">
        // 외부 js파일에는 JS inline기능이 지원이 안 되어 전역변수 미리 선언
        const indicatorList = [[${indicatorForm.indicatorList}]];
        const questionList = [[${questionForm.questionList}]];
        const tendencyList = [[${tendencyList}]];
        const tendencyNameList = [[${tendencyNameList}]];
        const typeInfoList = [[${typeInfoForm.typeInfoList}]];
        const essentialTypeList = [[${essentialTypeList}]];
        const essentialSet = [[${essentialSet}]];
        const alertMessage = [[${alert}]];
    </script>
    <script src="/js/testAdminPage.js"></script>
</div>
</body>
</html>


