/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Noto+Sans+KR&family=Single+Day&Gamja+Flower&display=swap');

/* 모바일 환경에서만 적용할 css */
@media screen and (min-width: 500px) {

}

div[class$="container"] {
    position: relative;
    overflow: hidden;
    min-height: 100%;
}

/**
 *  메인페이지
 */

.mainTitle-div {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
}

.mainTitle-div > p {
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background: linear-gradient(45deg, #564bff, #b7baff);
    border-radius: 1.5rem;
    padding: 15px 50px;
    color: #fff;
    box-shadow: 3px 4px 0px 7px #3b3b3b;
}

.mainTitle-div2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5rem;
    background: linear-gradient(45deg, #564bff, #b7baff);
    color: white;
}

.mainTitle-div2 > p {
    margin: 0;
}

.mainTitle-div3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainTitle-div3 > p {
    background-color: red;
    background-image: linear-gradient(45deg, #8699fb, #ff3770);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 42px;
    font-weight: bold;
    margin: 25px 0 15px 0;
    font-family: 'Dongle', sans-serif;
}

.testInfoCard {
    width: 100%;
    box-shadow: 1px 2px 4px 1px #ddd;
    margin-bottom: 1.5rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.card-text {
    color: #888;
}



.menu-icon {
    position: absolute;
    left: 20px;
}

.menu-icon > span {
    font-size: 30px;
    margin-top: 7px;
    cursor: pointer;
}

.navbar > .container-fluid {
    justify-content: space-around;
}

.offcanvas {
    position: absolute;
    width: 300px !important;
}

.offcanvas-header {
    justify-content: flex-start;
    cursor: pointer;
}

.offcanvas-profile {
    width: 80px;
    height: 80px;
    background-repeat: round;
    border-radius: 50%;
    margin-right: 5px;
}

.profile-guest > span {
    font-size: 5rem;
    color: #bbb;
}

.menu-mypage {
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
}

.menu-mypage:hover {
    cursor: pointer !important;
    color: #aaa !important;
}

.menu-mypage > span {
    margin-right: 5px;
}

.menu-adminPage {
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
}

.menu-logout {
    display: flex;
    position: absolute;
    font-family: 'Noto Sans KR', sans-serif;
    bottom: 0;
    cursor: pointer;
}

footer {
    position: relative;
    width: 100%;
}

#progress {
    appearance: none;
    width: 80%;
}

#progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:10px;
    box-shadow: inset 3px 3px 10px #ccc;
}

#progress::-webkit-progress-value {
    border-radius:10px;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
    background: linear-gradient(to right, #93F9B9, #1D976C);

}

.progress-div {
    display: inline-flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.font-singleDay {
    font-family: 'Single Day', cursive;
}

.font-notoSansKr {
    font-family: 'Noto Sans KR', sans-serif;
}

.font-dongle {
    font-family: 'Dongle', sans-serif;
}

.font-gamjaFlower {
    font-family: 'Gamja Flower', cursive;
}

.primary-container {
   max-width: 500px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}


/*
 * 테스트 관리 페이지
 */
.ta-container {
    /*max-width: 80%;*/
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    box-shadow: 2px 3px 3px 2px #ddd;
    border-radius: 1rem;
    overflow: auto;
    position: relative;
}

.ta-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: Noto Sans KR;
    font-size: 22px;
    border-bottom: 1px solid #ddd;
}

.nav-link {
    cursor: pointer;
}

.tab-contentsForm > div{
    margin: 20px 10px 20px 10px;
}

.tab-contentsForm input {
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.tab-contents {
    display: none;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.testInfo-contents > .active {
    display: inline-block !important;
}

.testInfo-contents label {
    margin: 10px 0 10px 0;
}

.testCode-text-div {
    display: flex;
}

.answerType-content div {
    margin-right: 10px;
}

.answerType-div {

}

.answerType-title-div {
    display: flex;
    align-items: center;
}

.answerType-title-div > input {
    margin: 0 10px 0 5px;
}

label.name-label {
    font-size: 17px;
}

.indicator-title {
    font-size: 20px;
    color: #6464ff;
    display: flex;
    justify-content: space-between;
}

.indicator-title span {
    padding-right: 10px;
}

.indicator-title p {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.indicatorDelete {
    padding: 0;
    cursor: pointer;
    height: 25px;
}

.indicator-div {
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px 1px #ddd;
    padding: 10px 15px 10px 20px;
}

.indicatorInfo-div {
    max-width: 700px;
    display: flex;
    margin-bottom: 15px;
}

.indicatorElement-div {

}

.indicatorInfo-div div {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.settingInfo-div {
    margin: 10px 0px 10px 0px;
    align-items: center;
    display: flex;
}

.settingElement-div {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.delSetting {
    color: #6464ff;
    margin-left: 10px;
    cursor: pointer;
    display: none;
}

.indicatorInfo-div > div > div {
    width: 50%;
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.settingElement-div > input {
    width: 60px;
}

#step2Content label {
    width: 120px;
}

.setting-div > div::before {
    font-family: "Material Icons";
    content: "\e5da";
    width: 20px;
}

span.settingAdd {
    margin-left: 10px;
    font-weight: 700;
    color: #6464ff;
}

span.settingAdd:hover {
    color: #9494fe;
    cursor: pointer;
}

.tab-content {

}

select-div {

}

.answerType-content {
    display: flex;
}

.answerType-img {
    width: 150px;
    height: 180px;
}

.introDesc-div textarea {
    resize: none;
    height: 150px;
}

.addIndicator-div {
    background: #eee;
    border-radius: 1rem;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addIndicator-div:hover {
    opacity: 0.7;
    cursor: pointer;
}

div.add-icon {
    background: #ddd;
    width: 60px;
    height: 60px;
    border-radius: 2rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus-icon {
    font-size: 48px !important;
    color: #888;
}


/**
 *  tab3
 */
.question-main-title {
    font-size: 20px;
    color: #6464ff;
    display: flex;
    justify-content: space-between;
}

.question-main-title p {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.fold-btn {
    border: 0;
    background: inherit;
    display: flex;
    padding: 0;
}

.questionHeadInfo-div > .collapsed {
    transform: rotate(270deg);
}

.question-div {
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px 1px #ddd;
    padding: 20px 15px 20px 15px;
}

.question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questionHeadInfo-div {
    display: flex;
    width: 100%;
    align-items: center;
}

.question-icon {
    padding: 0 10px 0 5px;
}

.q-num-input {
    width: 3rem;
    padding-left: 0.5rem;
    margin-left: 10px;
}

.q-name-input {
    width: 88%;
    padding-left: 0.5rem;
}

.questionContent-div {
    margin-top: 10px;
}

.questionInfo-div {
}

.answer-div {
    padding-top: 15px;
}

.answerAdd-div {
    padding-left: 10px;
}

.answerAdd {
    font-weight: 700;
    color: #9494fe;
    cursor: pointer;
}

.questionDelete {
    padding-left: 10px;
    cursor: pointer;
    height: 25px;
}

.answerDelete, .typeImageDelete, .typeDescriptionDelete {
    padding-left: 10px;
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

.answerElementDetail-div {
    display: flex;
}

.answerDetail-div input[type="text"] {
    width: 5rem;
}

.answerDetail-div {
    margin-right: 10px;
}

.answerInfo-div {
    border-radius: 0.5rem;
    padding: 20px 15px 20px 20px;
    border: 1px solid #ddd;
    margin: 10px 0 10px 0;
    position: relative;
}

/**
 *  tab4
 */

 .back-div {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     background: #1115;
     z-index: 1;
 }

 .loading-div {
     position: fixed;
     display: flex;
     justify-content: center;
     width: 100%;
 }

 .loading-div > img {
     margin-top: 100px;
     width: 250px;
 }

 .typeInfo-main-title {
     font-size: 20px;
     color: #6464ff;
     display: flex;
     justify-content: space-between;
 }

 .typeInfo-main-title p {
     display: flex;
     align-items: center;
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
 }

.typeInfo-div {
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px 1px #ddd;
    padding: 20px 15px 20px 15px;
}

.typeInfo-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.typeInfoHeadInfo-div > .collapsed {
    transform: rotate(270deg);
}

.typeCode-input {
    width: 5rem;
    padding-left: 0.5rem;
    margin-left: 10px;
}

.typeName-input {
    width: 80%;
    padding-left: 0.5rem;
}

.essential-type {
    border: 2px solid #8389ff;
}

.no-answer {
    border: 2px solid #ff3f3f;
}

.typeInfoDelete {
    padding-left: 10px;
    cursor: pointer;
}

.typeInfoContent-div > div {
    margin-top: 20px;
}

.typeInfoHeadInfo-div {
    display: flex;
    width: 100%;
    align-items: center;
}

.typeImageInfo-div {
    border-radius: 0.5rem;
    padding: 10px 15px 20px 20px;
    border: 1px solid #ddd;
    margin: 10px 0 10px 0;
    position: relative;
}

.typeImagePicture-div {
    display: flex;
    align-items: center;
}

.typeImagePicture-div > div > img {
    width: 100%;
    max-width: 500px;
    padding: 15px;
}

.typeImagePicture-div > label {
    width: 5rem;
}

.typeImageDetail-div {
    display: flex;
}

.typeImageNum-div {
    width: 6rem;
}

.typeImageNum-div > input {
    width: 85%;
}

.typeImageUrl-div {
    width: 85%;
}

.typeDescriptionInfo-div {
    border-radius: 0.5rem;
    padding: 10px 15px 20px 20px;
    border: 1px solid #ddd;
    margin: 10px 0 10px 0;
    position: relative;
}

.typeDescriptionElement-div > textarea {
    resize: none;
    height: 150px;
}

.typeImageAdd, .typeDescriptionAdd {
    font-weight: 700;
    color: #9494fe;
    cursor: pointer;
}

.tabSubmit-div > .btn-info {
    color: white;
}


/***********************************************/

.login-contents {
    max-width: 500px;
    display: inline-block;
    background: #fff;
    padding: 0px 30px 0px 30px;
}

.login-title {
    padding: 3rem 0 1.5rem 0;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title > img {
    width: 200px;
}

.result-login-text {
    font-size: 20px;
    font-family: 'Single Day', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-login-text:hover {
    cursor: pointer;
    color: #aaa;
}

.result-login-text > p {
    margin: 0 0 0 10px;
}

.modal-dialog {
    margin-top: 7rem;
}

.modal-content {
    padding: 0 30px;
}

.exam-container {
   max-width: 500px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   background: #fff;
}

.exam-contents {
    padding: 20px 30px 0px 30px;
    text-align: center;
}

.exam-rounded-btn {
    width: 150px;
    border-radius: 50rem;
    justify-content: center;
    align-items: center;
}

.exam-rounded-btn > span {
    font-family: 'Single Day', cursive;
    font-size: 20px;
    height: 30px;
}

.exam-share-box {
    display: inline-flex;
    width: 200px;
    height: 50px;
    /*border: 3px solid #8ec6c59c;*/
    justify-content: center;
    align-items: center;
    font-family: 'Single Day', cursive;
    font-size: 20px;
}

.share-div img {
    border-radius: 1rem;
}

#urlInput {
    position: absolute;
    width: 10px;
    z-index: -10;
}

/* icon */
.refresh-icon {
    background-image: url("/assets/images/icon/-refresh_90271.svg");
    background-size: contain;
    width: 20px;
    height: 20px;
    margin: 0px;
}

.share-url-icon {
    background-image: url("/assets/images/icon/add-link-icon.svg");
    background-size: contain;
    width: 32px;
    height: 32px;
    margin: 0px;
    vertical-align: middle;
    cursor: pointer;
    background-repeat: round;
}

.share-kakao-icon {
    background-image: url("/assets/images/icon/kakaotalk_icon.svg");
    background-size: contain;
    width: 32px;
    height: 32px;
    margin: 0px;
    border-radius: 1rem;
    vertical-align: middle;
}

.navbar-header {
    position: relative;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}

.header-logo {
    background-image: url("/assets/images/logo/diang_logo2.png");
    width: 150px;
    height: 50px;
    background-size: cover;
    cursor: pointer;
}

/*
 *  MyPage
 */
.profile-div {
    display: flex;
    margin: 10px;
    height: 100px;
    font-family: 'Single Day', cursive;
}

.profile-image {
    height: 100px;
    width: 100px;
    background: #ddd;
    background-repeat: round;
    border-radius: 50%;
}

.profile-desc {
    height: 100%;
    margin-left: 10px;
}

.nickname-div {
    padding: 5px 10px 5px 10px;
}

.type-div {
    height: 65%;
    padding: 5px;
}

span.type-label {
    border-radius: 1rem;
    background: #babafc;
    padding: 2px 10px 2px 10px;
    margin: 0px 2px 0px 2px;
}

#nickname {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

/*
 *  ExamTest
 */
.form-check-input-exam {
  width: 1.5em;
  height: 1.5em;
  margin-top: 0.1em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
}

.form-check-input-exam[type=checkbox] {
  border-radius: 0.25em;
}
.form-check-input-exam[type=radio] {
  border-radius: 50%;
}
.form-check-input-exam:active {
  filter: brightness(90%);
}
.form-check-input-exam:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-check-input-exam:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.form-check-input-exam:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.form-check-input-exam:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-input-exam[type=checkbox]:indeterminate {
  background-color: #0d6efd;
  border-color: #0d6efd;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
.form-check-input-exam:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}
.form-check-input-exam[disabled] ~ .form-check-label, .form-check-input-exam:disabled ~ .form-check-label {
  opacity: 0.5;
}

.margin-side-10 {
    margin: 0px 10px 0px 10px;
}

.margin-topdown-10 {
    margin: 10px 0px 10px 0px;
}

.exam-radio-div {
    display: flex;
    align-items: center;
}

.exam-radio-p {
    font-family: 'Noto Sans KR', sans-serif;
    display: inline;
}

/* ExamTest Slide */

.slider {
  text-align: center;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  /*height: 300px;*/
  margin-right: 50px;
  /*border-radius: 10px;*/
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px 20px 0px;
  justify-content: flex-start;
}

.slides > div:target {
/*   transform: scale(0.8); */
}

.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

.author-info a {
  color: white;
}

/*img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/

#examForm a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

#examForm a:active {
  top: 1px;
}

#examForm a:focus {
  background: #000;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
  #examForm a {
    display: none;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: 'Ropa Sans', sans-serif;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.questionStr {
  font-size: 20px;
  word-break: break-all;
  display: flex;
  justify-content: center;
}

.questionStr > p {
    margin: 20px 0;
}

input[name="answer"] {
    margin: 5px 20px 5px 20px;
}

.questionDiv {
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: 'Noto Sans KR', sans-serif;
}

.slides {
    scroll-behavior: auto;
}

.examAnswerCard {
    display: flex;
    width: 300px;
    height: 100px;
    border: 1px solid #ddd;
    background: white;
    border-radius: 0.5rem;
    margin: 10px 0px 10px 0px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px 0px #ddd;
    user-select: none;
}

.examAnswerCardDiv {
    display: flex;
    justify-content: center;
}

.examAnswerCardDiv input {
    display: none;
}

.examAnswerCard:hover {
    background: #ebffff;
    cursor: pointer;
}

/*.examAnswerCard:active {
    background: #acffff;
}*/

.cardImageDiv > img, .questionStr > p {
    max-width: 90%;
}

.card-button-div {
    display: flex;
    justify-content: space-between;
}

.playCount-div {
    display: flex;
    align-items: center;
}

.playCount-div > span {
    color: #69d900;
    margin-right: 5px;
    font-size: 28px;
}

.testTitle-text {
    font-size: 3rem;
    font-family: 'Dongle', sans-serif;
    margin: 0;
}


.CARDTEST-background {
    background-image: url("https://cdn.banggooso.com/assets/images/game108/background.png");
    background-size: contain;
}

.EXAMTEST-background {
    background-image: url("https://t1.daumcdn.net/cfile/tistory/991CD6365C6D05C432");
    background-size: contain;
}

.testAdminTitle {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    justify-content: center;
    margin-bottom: 10px;
}

.testAdminTitle > img {
    width: 200px;
    cursor: pointer;
}

.error-container {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    align-items: center;
    justify-content: center;
}

.error-container img {
    width: 200px;
    cursor: pointer;
}

.error-content {
    width: 100%;
    height: 20rem;
}

.error-text-div {
    margin-top: 15px;
    margin-left: 10px;
}

.error-text-div label {
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #555;
}

.error-icon {
    color: #ff5b5b;
    font-size: 40px !important;
    margin-right: 5px;
}

.error-code-div {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
}

.result-description {
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
}

.blockquote-footer > p {
    display: inline-block;
    font-size: 1.5rem;
    color: #1cadff;
    font-weight: bold;
}

.start-count-div {
    font-size: 2.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dongle', sans-serif;
}

.start-count-div > p {
    display: inline-block;
    font-size: 3rem;
    color: #6a3df6;
    padding: 05px;
}