<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
    <meta charset="utf-8">
</head>
<style>

</style>
<script th:inline="javascript">
    const questions = [[${questions}]];
    let processing= false;

    $(document).ready( () => {

        $('.examAnswerCardDiv input').change( (e) => {
            if(processing == false) {
                processing = true;
                let $target = $(`label[for="${e.target.id}"]`);
                $target.css("background", "#c8ebff");
                setTimeout( () => {
                    $(".slides").scrollLeft($(".slides").scrollLeft() + $("#question-1").outerWidth());
                    if(checkSelect()) {
                        $('#examForm').submit();
                    }
                    processing = false;
                }, 200);
            }
        });

    });

    function checkSelect() {
        console.log("checkSelect");
        let cnt = 0;
        let checkAll = true;
        for(question of questions) {
            if(!$(`input[name="${question.num}"]`).is(":checked")) {
                checkAll = false;
            } else cnt++;
        }
        $(".progressValue").css("width", (cnt / questions.length) * 100 + "%");

        return checkAll;
    }

</script>
<body>
<div class="exam-container">
    <!-- contents -->
    <div style="">
        <!-- head -->
        <nav class="navbar bg-light" th:replace="fragments/examHeader :: examHeader">
            <div class="container-fluid">
                <span class="h4">ExamTest</span>
            </div>
        </nav>

        <!-- progress bar -->
        <div class="progress-div">
            <!--<progress id="progress" value="0" min="0" th:max="${questionCount}" class="d-block"></progress>-->
            <div id="progress">
                <div class="progressValue"></div>
            </div>
        </div>

        <!-- body text -->
        <form action="/testSubmit" method="post" id="examForm">
            <input type="hidden" th:value="${testCode}" name="testCode"/>
            <div class="slider">
                <div class="slides">
                    <div th:each="question : ${questions}"  th:id="|question-${questionStat.index + 1}|">
                        <div class="questionDiv">

                            <!-- 이미지 -->
                            <div class="cardImageDiv">
                                <img th:src="${question.questionImage}">
                            </div>

                            <!-- 질문 -->
                            <div class="questionStr">
                                <p th:utext="${question.question}"></p>
                            </div>

                            <div class="py-2"></div>

                            <!-- 응답 -->
                            <div class="examAnswerCardDiv" th:each="answer : ${question.answerList}"
                                 th:with="inputId = |${question.num}_${answer.answerId}|">
                                <input class="" type="radio" th:id="${inputId}"
                                       th:name="${question.num}" th:value="${answer.answerId}"/>
                                <label th:utext="${answer.answer}" th:for="${inputId}" class="customAnswerCard"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>


    </div>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</div>
</body>

</html>

