<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
    <meta charset="utf-8">
</head>
<body>
<div class="exam-container">
    <!-- contents -->
    <div class="" style="">
        <!-- head -->
        <nav class="navbar bg-light" th:replace="fragments/examHeader :: examHeader">
            <div class="container-fluid">
                <span class="h4">ExamTest</span>
            </div>
        </nav>

        <!-- body text -->
        <div class="exam-contents">
            <div class="blockquote">
                <img class="img-fluid py-3 form-floating"
                     src="https://image.utoimage.com/preview/cp880338/2018/11/201811006148_500.jpg"
                     th:src="${testInfo.image}">
                <p class="testTitle-text customStart-title" th:text="${testInfo.testName}"></p>
                <p class="customStart-desc" th:text="${testInfo.description}">테스트 설명란</p>
            </div>
        </div>

        <div class="py-3"></div>
        <!-- button line -->
        <div class="text-center py-3">
            <a class="customStart-btn" th:href="|/${testCode}/testAnswer|">
                <span>테스트 시작!</span>
            </a>
        </div>

        <div class="py-3"></div>

        <!-- count line -->
        <div class="start-count-div">
            <input type="hidden" id="playCount" th:value="${testInfo.playCount}">
            지금까지 총 <p class="testTitle-text" id="countAnimation"></p>명이 플레이했어요!
        </div>

        <div class="py-3"></div>

        <!-- share result -->
        <div class="text-center py-5" th:replace="fragments/shareBlock :: shareBlock">

        </div>

        <div class="py-3"></div>

        <!-- login button line -->
        <div th:if="${session.user == null}" class="text-center py-5">
            <div class="result-login-text" data-bs-toggle="modal" data-bs-target="#loginModal">
                <span class="material-icons">
                login
                </span>
                <p>더 정밀한 성격진단을 받아보세요!</p>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</div>
</body>
</html>