<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
    <meta charset="utf-8">
</head>
<style>

</style>
<script th:inline="javascript">
    const questions = [[${questions}]];
    let processing= false;

    $(document).ready( () => {
        // 답변 선택 시 수행되는 로직
        $('.examAnswerCardDiv input').change( (e) => {
            if(processing == false) {
                processing = true;
                let $target = $(`label[for="${e.target.id}"]`);
                
                // 자신이 무슨 답변을 클릭하였는지 인지 가능하게 하기위해 선택답변의 색을 바꿔주고 0.2초 후에 다음 질문으로 이동
                $target.css("background", "#acffff");
                setTimeout( () => {
                    $(".slides").scrollLeft($(".slides").scrollLeft() + $("#question-1").outerWidth());
                    if(checkSelect()) {
                        $('#examForm').submit();
                    }
                    processing = false;
                }, 200);
            }
        });

    });

    // 테스트 진행상테 체크 로직
    function checkSelect() {
        console.log("checkSelect");
        let cnt = 0;
        let checkAll = true;
        for(question of questions) {
            if(!$(`input[name="${question.num}"]`).is(":checked")) {
                checkAll = false;
            } else cnt++;
        }
        $(".progressValue").css("width", (cnt / questions.length) * 100 + "%");

        return checkAll;
    }

</script>
<body>
<div class="exam-container">
    <!-- contents -->
    <div style="">
        <!-- head -->
        <nav class="navbar bg-light" th:replace="fragments/examHeader :: examHeader">
            <div class="container-fluid">
                <span class="h4">ExamTest</span>
            </div>
        </nav>

        <!-- progress bar -->
        <div class="progress-div">
            <!--<progress id="progress" value="0" min="0" th:max="${questionCount}" class="d-block"></progress>-->
            <div id="progress">
                <div class="progressValue"></div>
            </div>
        </div>

        <!-- body text -->
        <form action="/testSubmit" method="post" id="examForm">
            <input type="hidden" th:value="${testCode}" name="testCode"/>
            <div class="slider">
                <div class="slides">
                    <!-- 질문 리스트 수 만큼 반복 생성 -->
                    <div th:each="question : ${questions}"  th:id="|question-${questionStat.index + 1}|">
                        <div class="questionDiv">

                            <!-- 이미지 -->
                            <div class="cardImageDiv">
                                <img th:src="${question.questionImage}">
                            </div>

                            <!-- 질문 -->
                            <div class="questionStr" th:with="questions=${question.question.split('\r\n')}">
                                <th:block th:each="question : ${questions}">
                                    <p th:text="${question}"></p>
                                </th:block>
                            </div>

                            <div class="py-2"></div>

                            <!-- 응답 -->
                            <div class="examAnswerCardDiv" th:each="answer : ${question.answerList}"
                                 th:with="inputId = |${question.num}_${answer.answerId}|">
                                <input class="" type="radio" th:id="${inputId}"
                                       th:name="${question.num}" th:value="${answer.answerId}"/>
                                <label th:with="answers = ${answer.answer.split('\r\n')}" th:for="${inputId}"
                                       class="customAnswerCard">
                                    <p th:each="answerStr : ${answers}" th:text="${answerStr}"></p>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>


    </div>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</div>
</body>

</html>

