<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- share result -->
<div class="text-center py-5" th:fragment="shareBlock">
    <script type="text/JavaScript" src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <!-- SNS 공유용 주소 연결 용 -->
    <script th:inline="javascript" async>
        var url_default_ks = "https://story.kakao.com/share?url=";
        var url_default_fb = "https://www.facebook.com/sharer/sharer.php?u=";
        var url_default_tw_txt = "https://twitter.com/intent/tweet?text=";
        var url_default_tw_url = "&url=";
        var url_default_band = "http://band.us/plugin/share?body=";
        var url_route_band = "&route=";
        var url_default_naver = "http://share.naver.com/web/shareView.nhn?url=";
        var title_default_naver = "&title=";
        var url_this_page = location.href;
        var title_this_page = document.title;
        var url_combine_ks = url_default_ks + url_this_page;
        var url_combine_fb = url_default_fb + url_this_page;
        var url_combine_tw = url_default_tw_txt + document.title + url_default_tw_url + url_this_page;
        var url_combine_band = url_default_band + encodeURI(url_this_page)+ '%0A' + encodeURI(title_this_page)+'%0A' + '&route=tistory.com';
        var url_combine_naver = url_default_naver + encodeURI(url_this_page) + title_default_naver + encodeURI(title_this_page);
        let result = [[${result}]];
        let testCode = [[${testCode}]];
        let testInfo = [[${testInfo}]];

        // 카카오 공유하기 정보 세팅
        function kakaoShareInit() {
            let path = "";
            let image = "";
            let title = "";
            let description = "";
            // 테스트 시작페이지인지 결과페이지인지에 따라 api파라미터 다르게 설정
            if(result != null) {
                path = `${testCode}/testResult/${result.typeCode}`;
                image = result.images[1];
                title = result.typeName;
                description = result.descriptions[1];
            } else {
                path = `${testCode}/testMain`;
                image = testInfo.image;
                title = testInfo.testName;
                description = testInfo.description;
            }
            Kakao.init('27140768c4ba57a677d8073e1792449c');
            Kakao.Share.createCustomButton({
              container: '#kakaotalk-sharing-btn',
              templateId: 80348,
              templateArgs: {
                'image': image,
                'title': title,
                'description': description,
                'path' : path
              }
            });
        }

        function copyUrl() {
            var urlInput = document.getElementById("urlInput");
            urlInput.value = document.location.href;
            urlInput.select();
            document.execCommand("copy");
            urlInput.blur();
            alert("주소가 복사되었습니다.");
        }

        function numberCounter(target_frame, target_number) {
            this.count = 0; this.diff = 0;
            this.target_count = parseInt(target_number);
            this.target_frame = document.getElementById(target_frame);
            this.timer = null;
            this.counter();
        };

        $(document).ready( () => {
            kakaoShareInit();
            // 테스트 시작페이지면 counter 애니메이션 수행
            if($("#countAnimation").length > 0) {
                numberCounter.prototype.counter = function() {
                    var self = this;
                    this.diff = this.target_count - this.count;

                    if(this.diff > 0) {
                        self.count += Math.ceil(this.diff / 5);
                    }

                    this.target_frame.innerHTML = this.count.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');

                    if(this.count < this.target_count) {
                        this.timer = setTimeout(function() { self.counter(); }, 30);
                    } else {
                        clearTimeout(this.timer);
                    }
                };
                new numberCounter("countAnimation", $("#playCount").val());
            }
        });
    </script>
    <div class="exam-share-box">
        <span>테스트 공유하기</span>
    </div>
    <div class="py-2"></div>
    <!-- SNS버튼 시작 -->
    <div style="width: 100%; text-align: center;" class="share-div">
        <!-- 페이스북 공유 버튼 -->
        <a href="" onclick="window.open(url_combine_fb, '', 'scrollbars=no, width=600, height=600'); return false;"><img src="https://storage.googleapis.com/storage.chris-chris.ai/images/facebook.gif" title="페이스북으로 공유하기" class="sharebtn_custom" style="width: 32px;"></a>
        <!-- 트위터 공유 버튼 -->
        <a href="" onclick="window.open(url_combine_tw, '', 'scrollbars=no, width=600, height=600'); return false;"><img src="https://storage.googleapis.com/storage.chris-chris.ai/images/twitter.gif" title="트위터로 공유하기" class="sharebtn_custom" style="width: 32px;"></a>
        <!-- 네이버 공유 버튼 -->
        <a href="" onclick="window.open(url_combine_naver, '', 'scrollbars=no, width=600, height=600'); return false;"><img src="https://storage.googleapis.com/storage.chris-chris.ai/images/naver.gif" title="네이버로 공유하기" class="sharebtn_custom" style="width: 32px;"></a>
        <!-- 카카오톡 공유 버튼 -->
        <a href="#" id="kakaotalk-sharing-btn"><p class="share-kakao-icon d-inline-block"></p></a>
        <!-- url 공유 버튼 -->
        <p class="share-url-icon d-inline-block" onclick="copyUrl()"></p><input type="text" id="urlInput">
    </div>
    <!-- SNS버튼 끝 -->
</div>
</html>