<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'안녕하세요. ' + ${userName}" >안녕하세요. 손님</p>
<a href="/oauth2/authorization/google" class="btn btn-primary">Google 로그인</a>
<a href="/oauth2/authorization/naver" class="btn btn-primary">Naver 로그인</a>
<a href="/oauth2/authorization/kakao" class="btn btn-primary">Kakao 로그인</a>
<div>
    <button class="btn-primary" onclick="location.href='examStart'">Test Start</button>
</div>
<div>
    <p th:text="${#session.getAttribute('user')}">sessionUser</p>
</div>
</body>
</html>