<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
    <meta charset="utf-8">
</head>
<body>
<div class="primary-container">
    <nav class="navbar bg-light" th:replace="fragments/examHeader :: examHeader">
        <div class="container-fluid">
            <span class="h4">ExamTest</span>
        </div>
    </nav>
    <div class="mainTitle-div3">
        <p class="mainTitle">.・゜゜・디앙랩의 모든 테스트・゜゜・．</p>
    </div>
    <div class="py-2 px-2 testInfoMain-div">
        <div class="card testInfoCard" th:each="testInfo : ${testInfoList}">
            <img th:src="${testInfo.image}" class="card-img-top" alt="이미지가 없습니다.">
            <div class="card-body">
                <h5 class="card-title" th:text="${testInfo.testName}">Card title</h5>
                <p class="card-text" th:text="${testInfo.thumbnailDesc}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="card-button-div">
                    <a th:href="|/${testInfo.testCode}/testMain|" class="btn btn-primary">테스트 하러가기</a>
                    <div class="playCount-div">
                        <span class="material-icons">
                        play_arrow
                        </span>
                        <label th:text="${testInfo.playCountStr()}">
                        0
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</div>
</body>
</html>