<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="personalities/fragments/header.html :: header">
    <meta charset="utf-8">
</head>
<body>
<div class="primary-container">
    <!-- contents -->
    <div class="login-contents">
        <!-- head -->
        <div class="text-center py-5">
            <h1 class="figure"> Login </h1>
        </div>

        <!-- body text -->
        <form class="d-none">
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2 text-start">
                    <div class="d-inline-block">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Example checkbox
                        </label>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>

        <!-- button line -->
        <!--<div class="text-center py-3">
            <button class="btn btn-primary" onclick="location.href='examTest'">Start</button>
        </div>-->

        <!-- Oauth2 button line -->
        <div class="text-center py-3">
            <div class="panel-body panel-margin sns-buttons">
                <a href="/oauth2/authorization/google" id="google-connect-link" class="btn btn-google d-block">
                    <span class="icon-social icon-google"></span>Login with Google</a>
                <a href="/oauth2/authorization/facebook" id="facebook-connect-link" class="btn btn-facebook d-block mt-1">
                    <span class="icon-social icon-facebook"></span>Login with Facebook</a>
                <a href="/oauth2/authorization/kakao" id="kakao-connect-link" class="btn btn-kakao d-block mt-1">
                    <span class="icon-social icon-kakao"></span>Login with Kakao</a>
                <a href="/oauth2/authorization/naver" id="naver-connect-link" class="btn btn-naver d-block mt-1">
                    <span class="icon-social icon-naver"></span>Login with NAVER</a>
            </div>
        </div>

        <div class="py-2"></div>
    </div>
    <footer th:replace="personalities/fragments/footer.html :: footer"></footer>
</div>
</body>
</html>